.quote--container {
	padding: 16px;
	display: flex;
}

.quote--character__image {
	width: 200px;
	margin: 0 20px;
}

.character--imagedirection__right {
	flex-direction: row;
}

.character--imagedirection__left {
	flex-direction: row-reverse;
}
