@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/homer-simpson-revised');
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
